<div class="d-flex justify-content-center">
    <section class="pt-8 pt-md-11">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-0">
                        Actualités
                    </h2>

                    <p class="mb-5 text-muted">
                        Les dernières actualités
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="d-flex justify-content-around">
    {% for blogpost in blogposts %}
    <div class="card" style="width: 32rem;">
        <div class="card-body custom-shadow">
            <h5 class="card-title">{{ blogpost.titre }}</h5>

            <p class="card-text">{{ blogpost.contenu|u.truncate(300, '...', false) }}</p>
            <a href="{{ path('actualites_details', {'slug': blogpost.slug}) }}" class="card-link">Lire</a>
            <p class="h6">
            <time datetime="2021-08-16"> Ajoutée le {{ blogpost.createdAt|date('d/m/Y') }}</time>
            </p>
        </div>
    </div>
    {% endfor %}
</div>


