<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Claude Monet</h5>

                <p>
                    Claude Monet, né sous le nom d'Oscar-Claude Monet le 14 novembre 1840 à Paris et mort le 5 décembre 1926 à Giverny, est un peintre français et l’un des fondateurs de l'impressionnisme.
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">L'éternel insatisfait</h5>

                <p>
                    Monet peint devant le modèle sur l'intégralité de sa toile dès les premières ébauches, il retouche ensuite de nombreuses fois jusqu'à ce que le résultat le satisfasse. Contrairement à ce qu'il affirme, il termine la plupart de ses toiles en atelier, prenant modèle sur les premières peintures d'une série pour peindre les autres.
                </p>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->
<h6 class="fw-bold text-gray-700">
    Mentions légales
</h6>
</footer>